.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
      a.brand(href="#") Instituto Rodrigues
      div.nav-collapse.collapse
        ul.nav
          li: a(href="/") Alunos
          li: a(href="/aniversariantes") Aniversariantes
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Financeiro
              &nbsp;
              b.caret
            ul.dropdown-menu
              li: a(href="/financeiro/mensalidades") Mensalidade
              li: a(href="/financeiro/exames") Exames
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Cadastro Auxiliar
              &nbsp;
              b.caret
            ul.dropdown-menu
              li: a(href="/apoio/modalidades") Modalidades
              li: a(href="/apoio/planos") Planos
